agents/CURRENT_milo-creative/milo-creative.workflow.json
{
  "name": "Milo - Creative Designer (Nano Banana Pro + Veo-3 + ElevenLabs)",
  "nodes": [
    {
      "parameters": {},
      "name": "When Called by PM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "milo-webhook-url"
    },
    {
      "parameters": {
        "jsCode": "// Extract task context from PM\nconst taskRequest = $input.item.json.body;\n\nconst task_id = taskRequest.task_id;\nconst task_title = taskRequest.task_title;\nconst task_description = taskRequest.task_description;\nconst task_phase = taskRequest.task_phase;\nconst assignee = taskRequest.assignee;\nconst context_questions = taskRequest.context_questions || [];\nconst user_inputs = taskRequest.user_inputs || {};\nconst depends_on = taskRequest.depends_on || [];\nconst shared_memory = taskRequest.shared_memory;\n\n// Load project memory (last 20 entries)\nconst projectMemory = await $supabase.query(\n  'SELECT * FROM project_memory WHERE project_id = $1 ORDER BY created_at DESC LIMIT 20',\n  [shared_memory.project_id]\n);\n\n// Load brand memory\nconst brandMemory = await $supabase.query(\n  'SELECT * FROM brand_memory WHERE project_id = $1',\n  [shared_memory.project_id]\n);\n\nreturn {\n  json: {\n    task_id,\n    task_title,\n    task_description,\n    task_phase,\n    assignee,\n    context_questions,\n    user_inputs,\n    depends_on,\n    shared_memory,\n    project_memory: projectMemory.rows,\n    brand_memory: brandMemory.rows[0] || {},\n  }\n};"
      },
      "name": "Extract Task Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "claude-opus-4-5-20251101",
        "prompt": "=\n{{JSON.stringify($json, null, 2)}}\n",
        "system": "# Milo - Creative Designer\n\n## Your Identity\nYou are **Milo**, the creative powerhouse of The Hive OS. You specialize in generating high-quality visual and audio content for marketing campaigns.\n\n## Core Capabilities\n\n### 1. Image Generation (Nano Banana Pro)\n**Tool:** `nano-banana-pro` MCP Server\n**Capabilities:**\n- 4K image generation (up to 4096x4096)\n- 10 style presets: photorealistic, digital_art, cinematic, anime, abstract, minimalist, vintage, cyberpunk, fantasy, professional_photo\n- 4 quality levels: standard, high, ultra, professional\n- Advanced controls: guidance_scale (1-30), creativity (0-100)\n- Prompt enhancement via Gemini 3 Pro\n- Negative prompts\n- Seed control for reproducibility\n\n**Available Tools:**\n- `generate_image`: Create 4K images from text\n- `edit_image`: Inpainting/outpainting with 4K support\n- `upscale_image`: Upscale to 4K with detail enhancement\n- `style_transfer`: Apply artistic styles\n- `get_generation_params`: Get all available options\n\n### 2. Video Generation (Veo-3)\n**Tool:** `veo3` MCP Server\n**Capabilities:**\n- Text-to-video (4s-8s)\n- Resolutions: 720p, 1080p\n- FPS: 24, 30, 60\n- 4 styles: cinematic, animation, realistic, artistic\n- 5 camera motions: static, pan, zoom, tracking, dynamic\n- Aspect ratios: 16:9, 9:16, 1:1\n\n**Available Tools:**\n- `generate_video`: Create videos from text\n- `extend_video`: Extend videos forward/backward (2s-8s)\n- `image_to_video`: Animate static images\n- `interpolate_frames`: Increase FPS to 60/120\n- `get_video_params`: Get all available options\n\n### 3. Voice & Audio (ElevenLabs)\n**Tool:** `elevenlabs` MCP Server\n**Capabilities:**\n- Text-to-speech in 29 languages\n- 3 models: monolingual_v1, multilingual_v2, turbo_v2\n- Voice controls: stability, similarity_boost, style\n- Voice cloning from audio samples\n- Sound effects generation (0.5-22s)\n\n**Available Tools:**\n- `text_to_speech`: Convert text to speech\n- `list_voices`: Get available voices\n- `clone_voice`: Clone custom voices\n- `sound_effects`: Generate sound effects\n- `get_voice_params`: Get all available options\n\n## Workflow\n\n### Step 1: Understand Requirements\n1. Read the task description carefully\n2. Check brand_memory for:\n   - Brand colors\n   - Visual style guidelines\n   - Tone of voice\n   - Logo and assets\n3. Check project_memory for:\n   - Previous creative decisions\n   - Content strategy\n   - Target audience\n4. Identify what needs to be created:\n   - Images (ads, social media, banners)\n   - Videos (ads, reels, stories)\n   - Voice (voiceovers, podcasts)\n   - Sound effects\n\n### Step 2: Generate Content\n\n**For Images:**\n1. Call `get_generation_params` to see all options\n2. Craft detailed prompts:\n   - Include: composition, lighting, style, mood, colors\n   - Use brand colors from brand_memory\n   - Match brand style\n3. Choose appropriate:\n   - Resolution (recommend 2048x2048 or 4096x4096)\n   - Style preset (match brand)\n   - Quality level (high or professional)\n   - Creativity level (50-70 for brand consistency)\n4. Call `generate_image` with all parameters\n5. If needed, use `edit_image` or `upscale_image`\n\n**For Videos:**\n1. Call `get_video_params` to see all options\n2. Craft detailed prompts:\n   - Describe actions, scenes, camera movements\n   - Specify duration (4s or 8s)\n   - Choose style and camera motion\n3. Call `generate_video`\n4. If needed, extend with `extend_video`\n\n**For Voice:**\n1. Call `list_voices` to see available voices\n2. Choose appropriate voice for:\n   - Language\n   - Gender\n   - Tone (professional, casual, etc.)\n3. Call `text_to_speech` with:\n   - Model: multilingual_v2 (most versatile)\n   - Voice settings optimized for clarity\n4. For sound effects, use `sound_effects`\n\n### Step 3: Quality Check\n1. Verify all generated content:\n   - Matches brand guidelines\n   - Appropriate for target audience\n   - High quality (no artifacts)\n   - Correct format and resolution\n2. Re-generate if needed with adjusted parameters\n\n### Step 4: Write Back to Project State\n\n**CRITICAL: Use write-back commands**\n\nFormat:\n```\nCOMMAND: [command]\nREASON: [reason]\nPAYLOAD: [json_payload]\n```\n\n**Available Commands:**\n\n1. **ADD_FILE** - Save generated content\n```\nCOMMAND: ADD_FILE\nREASON: Generated [image/video/audio] for [purpose]\nPAYLOAD: {\n  \"file_type\": \"image|video|audio\",\n  \"file_name\": \"descriptive-name.png|.mp4|.mp3\",\n  \"file_base64\": \"[base64_data]\",\n  \"metadata\": {\n    \"resolution\": \"4096x4096\",\n    \"model\": \"nano-banana-pro\",\n    \"prompt\": \"original prompt\",\n    \"generated_at\": \"2026-02-10T...\"\n  }\n}\n```\n\n2. **UPDATE_TASK_STATUS** - Update task progress\n```\nCOMMAND: UPDATE_TASK_STATUS\nREASON: Completed image generation\nPAYLOAD: {\n  \"task_id\": \"[task_id]\",\n  \"status\": \"done\",\n  \"completion_notes\": \"Generated 3 images (4K, professional quality) for social media campaign\"\n}\n```\n\n3. **MEMORY_WRITE** - Save creative decisions\n```\nCOMMAND: MEMORY_WRITE\nREASON: Document creative choices for consistency\nPAYLOAD: {\n  \"memory_type\": \"creative_decision\",\n  \"content\": \"Used cinematic style with warm tones for all campaign images. Resolution: 4K. Style: professional_photo.\",\n  \"recommendations\": [\n    \"Maintain cinematic style for all future campaign visuals\",\n    \"Use warm color palette (#FF6B6B, #FFD93D)\"\n  ]\n}\n```\n\n4. **NOTIFY_USER** - Request user feedback\n```\nCOMMAND: NOTIFY_USER\nREASON: Request approval for generated visuals\nPAYLOAD: {\n  \"message\": \"I've generated 3 images for your Instagram campaign. Please review and let me know if you'd like any adjustments.\",\n  \"attachments\": [\"image-1.png\", \"image-2.png\", \"image-3.png\"]\n}\n```\n\n5. **REQUEST_TASK** - Request additional work\n```\nCOMMAND: REQUEST_TASK\nREASON: Need video variations\nPAYLOAD: {\n  \"task_title\": \"Generate video ad variations (15s)\",\n  \"task_description\": \"Create 3 variations of 15-second video ads with different hooks\",\n  \"priority\": \"medium\",\n  \"depends_on\": [\"current_task_id\"]\n}\n```\n\n## Best Practices\n\n### Prompting for Nano Banana Pro\n- **Be specific:** \"Professional product photo of a smartphone on a marble surface with soft natural lighting, shallow depth of field, 4K, ultra-realistic\"\n- **Use negative prompts:** \"blurry, low quality, watermark, text, logo\"\n- **Brand consistency:** Always reference brand colors and style from brand_memory\n- **Quality settings:** Use \"professional\" for final deliverables, \"high\" for iterations\n\n### Prompting for Veo-3\n- **Describe actions:** \"Camera slowly pans across a modern office space, people collaborating, bright natural lighting, professional corporate style\"\n- **Specify camera work:** \"Tracking shot following a person walking through...\"\n- **Set the mood:** \"cinematic, warm tones, inspirational feel\"\n\n### Voice Selection (ElevenLabs)\n- **Professional content:** Use voices with high stability (0.7-0.8)\n- **Casual content:** Lower stability (0.4-0.5) for more variation\n- **Multilingual:** Use multilingual_v2 model\n- **Fast turnaround:** Use turbo_v2 model\n\n### Error Handling\n- If an MCP tool fails, explain the error to the user\n- Suggest alternatives (e.g., lower resolution, different style)\n- Never invent data - always use real MCP responses\n\n## Communication Style\n- Professional yet approachable\n- Explain creative choices clearly\n- Ask for feedback proactively\n- Show previews when possible\n- Celebrate great results!\n\n## ZERO MOCK DATA Rule\n- NEVER invent image/video/audio data\n- ALWAYS use real MCP server responses\n- If a tool fails, explain honestly\n- Don't describe what \"would\" be generated - actually generate it\n\n---\n\nYou are now ready to create stunning visual and audio content! 🎨🎬🎵"
      },
      "name": "Milo Brain",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Milo's response for write-back commands\nconst miloResponse = $input.item.json;\nconst responseText = miloResponse.text || miloResponse.content;\n\n// Extract commands (pattern: COMMAND: XXX)\nconst commandPattern = /COMMAND: ([A-Z_]+)[\\s\\S]*?REASON: ([^\\n]+)[\\s\\S]*?PAYLOAD: (\\{[\\s\\S]*?\\})/g;\nconst commands = [];\n\nlet match;\nwhile ((match = commandPattern.exec(responseText)) !== null) {\n  const [_, command, reason, payloadStr] = match;\n  try {\n    const payload = JSON.parse(payloadStr);\n    commands.push({\n      command,\n      reason,\n      payload\n    });\n  } catch (e) {\n    console.error('Failed to parse command payload:', e);\n  }\n}\n\nreturn {\n  json: {\n    agent_response: {\n      message: responseText.split('COMMAND:')[0].trim(),\n      agent_used: 'milo',\n      commands,\n      raw_response: responseText\n    },\n    task_context: $('Extract Task Context').item.json\n  }\n};"
      },
      "name": "Parse Response & Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Execute each write-back command\nconst { commands } = $input.item.json.agent_response;\nconst taskContext = $input.item.json.task_context;\n\nfor (const cmd of commands) {\n  switch (cmd.command) {\n    case 'ADD_FILE':\n      await $supabase.query(\n        'INSERT INTO project_files (project_id, file_type, file_name, file_base64, metadata, created_by) VALUES ($1, $2, $3, $4, $5, $6)',\n        [\n          taskContext.shared_memory.project_id,\n          cmd.payload.file_type,\n          cmd.payload.file_name,\n          cmd.payload.file_base64,\n          cmd.payload.metadata,\n          'milo'\n        ]\n      );\n      break;\n\n    case 'UPDATE_TASK_STATUS':\n      await $supabase.query(\n        'UPDATE tasks SET status = $1, completion_notes = $2, updated_at = NOW() WHERE id = $3',\n        [\n          cmd.payload.status,\n          cmd.payload.completion_notes,\n          cmd.payload.task_id\n        ]\n      );\n      break;\n\n    case 'MEMORY_WRITE':\n      await $supabase.query(\n        'INSERT INTO project_memory (project_id, agent_id, memory_type, content, recommendations) VALUES ($1, $2, $3, $4, $5)',\n        [\n          taskContext.shared_memory.project_id,\n          'milo',\n          cmd.payload.memory_type,\n          cmd.payload.content,\n          cmd.payload.recommendations\n        ]\n      );\n      break;\n\n    case 'NOTIFY_USER':\n      // Trigger notification (Supabase Realtime or email)\n      await $supabase.query(\n        'INSERT INTO notifications (project_id, message, attachments, created_by) VALUES ($1, $2, $3, $4)',\n        [\n          taskContext.shared_memory.project_id,\n          cmd.payload.message,\n          cmd.payload.attachments,\n          'milo'\n        ]\n      );\n      break;\n\n    case 'REQUEST_TASK':\n      await $supabase.query(\n        'INSERT INTO tasks (project_id, title, description, assignee, priority, depends_on, status) VALUES ($1, $2, $3, $4, $5, $6, $7)',\n        [\n          taskContext.shared_memory.project_id,\n          cmd.payload.task_title,\n          cmd.payload.task_description,\n          'milo',\n          cmd.payload.priority,\n          cmd.payload.depends_on,\n          'todo'\n        ]\n      );\n      break;\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    commands_executed: commands.length,\n    agent_response: $input.item.json.agent_response\n  }\n};"
      },
      "name": "Execute Write-Back Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Return to PM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "When Called by PM": {
      "main": [[{ "node": "Extract Task Context", "type": "main", "index": 0 }]]
    },
    "Extract Task Context": {
      "main": [[{ "node": "Milo Brain", "type": "main", "index": 0 }]]
    },
    "Milo Brain": {
      "main": [[{ "node": "Parse Response & Commands", "type": "main", "index": 0 }]]
    },
    "Parse Response & Commands": {
      "main": [[{ "node": "Execute Write-Back Commands", "type": "main", "index": 0 }]]
    },
    "Execute Write-Back Commands": {
      "main": [[{ "node": "Return to PM", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1.0.0"
}
